---

- name: Populate service facts
  service_facts:

- name: Gather package facts
  package_facts:
    manager: auto

- name: install required packages (RPM)
  package:
    name:
      - podman
    state: present
  when: "ansible_distribution == 'RedHat' or ansible_distribution == 'Fedora' or ansible_distribution == 'Amazon'"

