---

# This needs to be fixed to ensure that the kernel-devel packages
# is exactly the same as the kernel. If there is a kernel upgrade
# you get the latest kernel-devel but the old kernel and the Nvidia
# drivers don't install
- name: install kernel-devel
  yum: 
    name: kernel-devel-{{ ansible_kernel }}
    state: present

- name: install EPEL
  yum: 
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_version }}.noarch.rpm
    state: present
    when: "ansible_distribution == 'RedHat'"

- name: install NVIDIA repo
  yum:
    name: https://developer.download.nvidia.com/compute/cuda/repos/rhel8/x86_64/cuda-repo-rhel{{ ansible_distribution_version }}-10.2.89-1.x86_64.rpm
    state: present
  when: "ansible_distribution == 'RedHat'"

- name: install NVIDIA drivers
  yum:  
    name: cuda
    state: present

#- name: load NVIDIA and unified memory kernel modules
#  shell: nvidia-modprobe && nvidia-modprobe -u

...
