---

- name: install required packages (RPM)
  package:
    name:
      - freeglut
      - libcanberra-gtk2
      - make
      - mesa-libGLU
      - pygtk2
      - python2
    state: present
  when:
    (ansible_distribution == 'RedHat') or
    (ansible_distribution == 'Fedora') or
    (ansible_distribution == 'CentOS')

- name: install required packages (RPM)
  package:
    name:
      - freeglut
      - make
      - mesa-libGLU
      - python2
    state: present
  when:
    (ansible_distribution == 'Amazon')

# Package only needed in RHEL 8
- name: install required packages (RPM)
  package:
    name:
      - compat-openssl10
  when:
    (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS') and
    (ansible_distribution_major_version == '8')

# Should only be run on debian 10, not 9
- name: install required packages (Deb)
  package:
    name:
      - python2
  when:
    (ansible_distribution == 'Debian' and ansible_distribution_major_version == '10' )

# Packages only needed in Amazon Linux 2
- name: install required packages (RPM)
  package:
    name:
      - libcanberra-gtk2
      - pygtk2
  when:
    (ansible_distribution == 'Amazon') and
    (ansible_distribution_major_version == '2')

# TODO: This doesn't seem to actually generate anything
- name: Gather package facts
  package_facts:
    manager: auto

# TODO: This will not work on RHEL 6 because RHEL 6 cannot validate
# F@H's SSL Certificates
- name: Download packages for the FaH client
  get_url:
    url: "{{ (fah_client_pkgs[ ansible_distribution ])[fahclient_ver] }}"
    dest: /tmp
  when:
    ('fahclient' not in ansible_facts.packages)

- name: install FaH packages (RPM)
  command: "rpm -ivh --nodeps --noscripts /tmp/{{ item | regex_replace( '^http.*/', '' ) }}"
  with_items: "{{ fah_client_pkgs[ ansible_distribution ][ fahclient_ver ] }}"
  when:
    ('fahclient' not in ansible_facts.packages) and
    ( ansible_distribution == 'RedHat' or ansible_distribution == 'Fedora' or ansible_distribution == 'CentOS' or ansible_distribution == 'Amazon' )

- name: install FaH packages (DEB)
  apt:
    deb: "/tmp/fahclient_{{ item | regex_replace( '.*fah', 'fah' ) }}_amd64.deb"
  with_items: "{{ fah_client_pkgs[ ansible_distribution ][ fahclient_ver ] }}"
  when:
    ('fahclient' not in ansible_facts.packages) and
    (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
