---

- import_tasks: dependencies.yaml
  when: local_service | bool

- name: Ensure group "fahclient" exists
  group:
    name: fahclient
    state: present
    system: true
  when: "ansible_distribution == 'RedHat' or ansible_distribution == 'Fedora' or ansible_distribution == 'Amazon'"

- name: Ensure user "fahclient" exists
  user:
    name: fahclient
    state: present
    group: fahclient
    comment: "Folding@home Client"
    shell: /sbin/nologin
    expires: -1
    system: true
  when: "ansible_distribution == 'RedHat' or ansible_distribution == 'Fedora' or ansible_distribution == 'Amazon'"

- name: Create fahclient directories
  file:
    path: "{{ item }}"
    state: directory
    owner: fahclient
    group: fahclient
    mode: 0777
  with_items:
    - /var/lib/fahclient
    - /etc/fahclient
  when: "ansible_distribution == 'RedHat' or ansible_distribution == 'Fedora' or ansible_distribution == 'Amazon'"

- name: Install FaH config
  template:
    src: sample-config.xml.j2
    dest: /etc/fahclient/config.xml

- import_tasks: service.yaml
  when: local_service | bool

- import_tasks: firewall.yaml
  when: local_service | bool

- import_tasks: cron.yaml
  when: local_service | bool

