---

# Client isn't running on RHEL/Centos/Fedora/Amazon hosts
# because it is installed with --noscripts
- name: Stop FaH client
  service:
    name: FAHClient
    state: stopped

- name: Wait for termination of all FaH client processes
  wait_for:
    path: /var/run/fahclient.pid
    state: absent
  failed_when: false

- name: Clean up pid file if timeout
  file:
    path: /var/run/fahclient.pid
    state: absent

- name: Check to see if the init script exists
  stat:
    path: /etc/init.d/FAHClient
  register: initscript

- name: Copy default init script to docs directory
  copy:
    remote_src: true
    src: /etc/init.d/FAHClient
    dest: /usr/share/doc/fahclient/FAHClient.init
  when: initscript.stat.exists

- name: Remove init script
  file:
    path: /etc/init.d/FAHClient
    state: absent
  when:
    (ansible_distribution == 'Fedora' and ansible_distribution_major_version >= '17') or
    (ansible_distribution == 'RedHat' and ansible_distribution_major_version >= '7') or
    (ansible_distribution == 'CentOS' and ansible_distribution_major_version >= '7') or
    (ansible_distribution == 'Amazon' )

- name: Install FaH systemd service file
  copy:
    src: FAHClient.service
    dest: /etc/systemd/system/FAHClient.service
  when:
    (ansible_distribution == 'Fedora' and ansible_distribution_major_version >= '17') or
    (ansible_distribution == 'RedHat' and ansible_distribution_major_version >= '7') or
    (ansible_distribution == 'CentOS' and ansible_distribution_major_version >= '7') or
    (ansible_distribution == 'Amazon' )

- name: Start and enable FaH client
  service:
    name: FAHClient
    daemon_reload: true
    enabled: true
    state: started
